<article class="post">
  <div class="title">
    <a href="/api/jokes/{{id}}">{{title}}</a>
  </div>
  <div class="meta">
   likes: {{vote_count}}. by {{user.username}} on {{format_date created_at}}
  </div>
</article>