<article class="joke">
  <div class="title">
    <a href="/api/jokes/{{id}}">{{title}}</a>
  </div>
  <div class="meta"> <i class="fa-solid fa-thumbs-up"></i>
   likes: {{vote_count}}. by {{user.username}} on {{format_date created_at}}
  </div>
</article>